<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movimiento</title> <!--nombre del instituto y edificio-->
        
        <link rel="stylesheet" href="/resourses/css/reset.css">
        <link rel="stylesheet" href="/resourses/css/style-pagina.css">

        <link rel="preconnect" href="https://fonts.googleapis.com"> <!--tipo de letra-->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="navegacion">
                <h1> <img src=""></h1> <!--logo-->
                <nav> <!--panel de navegación-->
                    <ul> <!--lista horizontal, para la navegación-->
                            <li><a href="/usuario">Usuarios</a></li>
                            <li><a href="/movimiento">Movimientos</a></li>
                        <li><a href="/instituto">Institutos</a></li> <!-- <a> hace referencia que hay un vinculo-->
                        <li><a href="/salir">Salir</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            
            <div> <!--titulo, subtitulo y formulario-->

                <section class="tablaBody">
                    <div class="tabla">
                        <div class="tablaEncabezado">
                            <div>
                                <h1 class="subtitulos">MOVIMIENTO</h1>
                            </div>
                            <!--
                            <div class="buscar">
                                <select id="buscarPor" class="buscarPor"> <!--lista para seleccionar-->
                                    <!--opciones-->
                                    <!--
                                    <option selected >Todos</option>
                                    <option>Id Movimiento</option> 
                                    <option>Recurso</option>
                                    <option>Usuario</option>
                                    <option>Tipo</option>
                                    <option>Fecha</option>
                                    <option>Hora</option>
                                </select>
                                <input class="inputBuscar" placeholder="Buscar"/>
                                <button class="botonIcono">
                                    <img src="/resourses/image/buscar.png" alt="">
                                </button>
                            </div>
                        </div>
                    -->
                    </div>    
                    <% if(results.length > 0) { %>
                        <div class="tablaSection">
                            <table>
                                <thead>
                                    <tr> 
                                        <th>Recurso</th>
                                        <th>Usuario</th>
                                        <th>Tipo</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                    </tr>
                                </thead> 
                        <% results.forEach(movimiento => { %>
                            
                            <tbody id="tbodyRecursos"> <!--id para rellenar la tabla-->
                                            <td><%= movimiento.nombreRecurso %></td>
                                            <td><%= movimiento.nombreUsuario %></td>
                                            <td><%= movimiento.tipo %></td>
                                            <td><%= movimiento.fecha %></td>
                                            <td><%= movimiento.hora %></td>
                             </tbody>
                        <%  }); %>
                                
                            </table>
                        </div>
                        <% } else { %>
                            <div >
                                <h2 class="subtitulos">Antes debe de crear movimientos</h2>
                            </div>
                        <% } %>
                    </div>
                </section>

                <!--MOSTRAR LOS EDIFICIOS DISPONIBLES-->
        </main>
        
        <footer> <!--Etiqueta de pie de página-->
            <p class="Copyright"> &copy Copyright  2024 </p>
            <p class="Copyright"> DERECHOS RESERVADOS </p>
            <p class="Copyright"> LOS PANZONES :D</p>

        </footer>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"></script>
        <script src=""></script>
    </body>
</html>